*{
	margin:0;
	padding:0;
	border:0;
}
body{
	font:12px geneva,helvetica,sans-serif;
	text-align:center;
}
h1,h2{
	font:14px geneva,helvetica,sans-serif;
	text-align:center;
	padding:10px;
}
h2{
	width:994px;
	overflow:hidden;
	font-size:12px;
	padding-top:0px;
	margin:0px auto;
}
a{
	text-decoration:none;
	color:navy;
}
a:visited{
	color:#369;
}
a:hover{
	text-decoration:underline;
}
.movies{}
.movie{
	text-align:left;
	margin:auto;
	width:994px;
	border:silver 1px solid;
	position:relative;
	margin-bottom:4px;
	padding:10px;
	border-radius:8px;
}
.poster{
	float:left;
	margin-right:10px;
	width:88px;
	height:120px;
	border-radius:4px;
	box-shadow: 3px 3px 4px #000;
	overflow:hidden;
}
.Synopsis,.info{
	padding-top:8px;
}
.starcontainer,.rating,.hidef{
	display:inline;
}
.starcontainer,.stars{
	position:absolute;
	overflow:hidden;
	height:18px;
}
.starcontainer{
	right:0px;
	width:93px;
	background-image:url(http://cdn-0.nflximg.com/en_us/layout/ratings/starbar_unified_density.png);
	background-position:0px -240px;
	margin-right:10px;
}
.stars{
	background:url(http://cdn-0.nflximg.com/en_us/layout/ratings/starbar_unified_density.png);
}
.rating,.hidef{
	background:silver;
	color:white;
	font-weight:bold;
	border:gray 1px solid;
	border-radius:4px;
	padding:4px;
	margin-right:4px;
}
.clearboth{
	clear:both;
}
.poweredby{
	text-align:center;
	padding:4px 0px;
}
#netflix{
	width:100px;
	background-color:#B9090B;
	padding:6px 8px;
	border-radius:4px;
	border:black 1px solid;
}

.nav-timespan,.nav-ratings{
	float:left;
	position:relative;
	left:50%;
}
.nav-timespan div,.nav-ratings div{
	float:left;
	position:relative;
	right:50%;
	display:block;
}
.nav-timespan a{
	font-size:16px;
}
.nav-timespan a,.nav-ratings a{
	color:white !important;
	float:left;
/* default gray buttons */
    background: -moz-linear-gradient(top, #353432 0%, #8C8C8C 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#353432), color-stop(100%,#8C8C8C));
    background: -webkit-linear-gradient(top, #353432 0%,#8C8C8C 100%);
    background: -o-linear-gradient(top, #353432 0%,#8C8C8C 100%);
    background: -ms-linear-gradient(top, #353432 0%,#8C8C8C 100%);
    background: linear-gradient(to bottom, #353432 0%,#8C8C8C 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353432', endColorstr='#8C8C8C',GradientType=0 );
	border:#8C8C8C 1px solid;
	margin-top:3px;
	margin-right:1px;
	padding:4px 8px;
	list-style:none;
	border-radius:2px;
}
.nav-timespan a:hover,.nav-ratings a:hover{
/* mouse over blue button */
	background:#2790B0;
	filter:;
	border:#2790B0 1px solid;
	text-decoration:none;
}
.footer{
	padding-top:20px;
}