body{background:#000 url(http://adisney.go.com/xd/media/kickbuttowski/bkg_kbu_season2.jpg) top center no-repeat;}

div#ad_skyscraper,div#ad_300x250,div#ad_180x150{display:none;}
div#ad_skyscraper{top:0px;left:300px;}
div#ad_300x250{top:418px;left:687px;}
div#ad_180x150{top:630px;left:0px;}

div#xd-page-container { margin:0px auto; }
div#xd-page-content{text-align:left;}
div#flashcontainer{position:absolute;z-index:0;}
div#game_content_750{position:absolute;top:80px;left:179px;z-index:25;}

div#xd-superbanner{position:absolute;left:5px;width:728px;height:90px;z-index:100;margin-top: 10px;}

div#rock-flashcontainer{position:absolute;height:760px;width:760px;top:-170px;left:-198px;z-index:4;overflow:hidden;border:white 0px solid;}
div#rock-flashwrapper{position:absolute;height:610px;width:540px;top:59px;left:438px;z-index:4;overflow:hidden;border:red 0px solid;}
div#vidplayer-shadow{position:absolute;top:63px;left:446px;width:512px;height:313px;border:black 1px solid;z-index:0;
	-moz-box-shadow:3px 3px 5px 5px black;
	-webkit-box-shadow:3px 3px 5px 5px black;
	box-shadow:3px 3px 5px 5px black;
	filter:alpha(opacity=30);opacity:0.3;
}

div#rock-promos-module{position:absolute;z-index:5;top:495px;left:105px;}
div#rock-promo-left{position:absolute;top:6px;left:10px;z-index:1;}
div#rock-promo-right{position:absolute;top:6px;left:320px;z-index:1;}
div#rock-promos-bg{position:absolute;top:0;left:0;width:633px;height:162px;background-color:black;z-index:0;filter:alpha(opacity=30);opacity:0.3;}

div#rock-downloads-container{position:absolute;top:0;left:50%;width:0;z-index:1000000001;display:none;}
div#rock-downloads-overlay{position:absolute;top:280px;left:-365px}
div.rock-downloads-cds#rock-downloads-overlay{top:100px;}
div#rock-posters{position:absolute;top:154px;width:730px;text-align:center;left:0;}
div#rock-posters img{padding:0 8px;}

div#rock-shadow{position:absolute;top:0%;left:0%;width:100%;height:100%;z-index:100000000;display:none;background-color:black;filter:alpha(opacity=80);opacity:0.8;}
div.rock-shadow-ncds#rock-shadow{height:1255px;}
div#rock-sponsor{position:absolute;top:400px;left:400px;border:yellow 4px solid;}

div#dontwalk{position:absolute;top:181px;left:47px;display:none;}

div#promocontainer{position:absolute;top:530px;left:145px;}
div.promos{margin:5px;height:120px;border:black 5px solid;}
div#promo1{}
div#promo2{position:absolute;top:0px;left:180px;}

div#gameSponsor,div#leavebehind180x150{position:absolute;background-color:#000000;}
div#gameSponsor{top:0px;left:265px;display:none;}

div#pregamead{position:relative;margin-top:150px;text-align:center;width:994px;}


table img{display:block;}

div.character-nav.cds {
    margin-top: 15px;
}